@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

body {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_menu {
    display: flex;
    margin-left: auto;
}

.navbar {
    background: black;
    padding: 25px 25px;
    height: 40px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

.navbar .nav_menu {
    display: flex;
    align-items: center;
}

.navbar .nav_menu ul {
    display: flex;
    list-style: none;
}

.navbar .nav_menu ul li {
    margin-right: 20px;
}

.navbar .nav_menu ul li:last-child {
    margin-right: 0;
}

.navbar .nav_menu ul li a {
    display: block;
    padding: 10px 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: 0.65s;
}

.navbar .container a img {
    max-height: 100%;
    max-width: 100px;
}

.navbar .nav_menu ul li a:hover {
    background-color: lightgray;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.apply-dropdown:hover .dropdown-content {
    display: block;
}

.mentors img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: -50px;
    margin-left: calc(50% - 75px);
    margin-top: 30px;
    margin-bottom: 20px;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    height: 420px;
    background-color: black;
    padding-bottom: 50px;
}

.mentors {
    display: flex;
    background-color:  black;
}

.mentors .ment1 {
    width: 340px;
    margin-left: 20px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #8B0000;
}
.mentors .ment2 {
    width: 340px;
    margin-left: 20px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #8B0000;
}

.headng {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mentors .ment3 {
    width: 340px;
    margin-left: 20px;
    background-color: black;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #8B0000;
}

.mentors .ment1 p {
    margin: 10px 20px;
}

.mentors .ment2 p {
    margin: 10px 20px;
}

.mentors .ment3 p {
    margin: 10px 20px;
}

.mentors a {
    color: lightgray;
}

.i {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}
.mentors .ment2:hover {
    color: white;
    background-color: #8B0000;
    transition: 1.5s;
    cursor: pointer;
}

.mentors .ment1:hover {
    color: white;
    background-color: #8B0000;
    transition: 1.5s;
    cursor: pointer;
}

.mentors .ment3:hover {
    color: white;
    background-color: #8B0000;
    transition: 1.5s;
    cursor: pointer;
}

.headng2 {
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container2 {
    max-width: 1100px;
    margin: 50px auto;
    height: 420px;
    background-color: black;
    padding-bottom: 50px;
}

.hr {
    margin-top: 40px;
}
@media screen and (max-width: 767px) {


    .mentors {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .rt {
        margin-top: 1450px;
    }
    
    .aims p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .small_containers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container-sm {
        margin: 20px 20px;
    }

    .objectives {
        margin-top: 20px;
    }

    .aims h1 {
        margin-top: 1px;
    }

    .container2 {
        margin-top: 1590px;
    }

    .headng2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
