<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/apply_as_student.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <title>TheCareerHub</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/CareerHub/templates/index.html">
               <img src="/CareerHub/static/images/logo-transparent-png.png" alt="TheCareerHub Logo">
            </a>
        </div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/CareerHub/templates/index.html">Home</a>
                </li>
                <li>
                    <a href="../templates/index.html#about">About</a>
                </li>
                <li>
                    <a href="/CareerHub/templates/mentors.html">Mentors</a>
                </li>
                <li class="apply-dropdown">
                    <a href="#">Apply</a>
                    <div class="dropdown-content">
                        <a href="/CareerHub/templates/apply_as_student.html">Apply as Student</a>
                        <a href="/CareerHub/templates/apply_as_mentor.html">Apply as Mentor</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<div class="container">
    <div class="signup_student">
        <form>
            <p><label for="full_name">Full Name:</label></p>
            <input type="text" id="full_name" name="full_name" required>


            <p><label for="address">Address:</label></p>
            <input type="text" id="address" name="address">

            <p><label for="phone">Phone Number:</label></p>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

            <p><label for="dob">Date of Birth:</label></p>
            <input type="date" id="dob" name="dob" required>

            <p><label for="nationality">Nationality:</label></p>
            <input type="text" id="nationality" name="nationality" required>

            <p><label for="university">Current School/University:</label></p>
            <input type="text" id="university" name="university" required>

            <p><label for="field_of_study">Field of Study:</label></p>
            <input type="text" id="field_of_study" name="field_of_study" required>

            <p><label for="interests">Interests:</label></p>
            <input type="text" id="interests" name="interests">

            <p><label for="grade_average">Grade Average (Out of 100):</label></p>
            <input type="number" id="grade_average" name="grade_average" min="0" max="100" required>


            <p><label for="experience">Part-time Jobs/Internships:</label></p>
            <textarea id="experience" name="experience" rows="4" cols="50"></textarea>

            <p><label for="additional_info">Additional Information:</label></p>
            <textarea id="additional_info" name="additional_info" rows="4" cols="50"></textarea>

            <p><label for="transcript">Transcript/Grades Upload:</label></p>
            <p>Please upload your transcript or grades (optional).</p>
            <input type="file" id="transcript" name="transcript" accept=".pdf, .doc, .docx">


            <p><input type="submit" value="Submit Application"></p>

            <p><a class="here-href" href="/CareerHub/templates/apply_as_student.html">You can apply as a mentor HERE</a></p>
        </form>
    </div>
</div>
</body>
</html>
