<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/apply_as-mentor.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <title>TheCareerHub</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/CareerHub/templates/index.html">
               <img src="/CareerHub/static/images/logo-transparent-png.png" alt="TheCareerHub Logo">
            </a>
        </div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/CareerHub/templates/index.html">Home</a>
                </li>
                <li>
                    <a href="../templates/index.html#about">About</a>
                </li>
                <li>
                    <a href="/CareerHub/templates/mentors.html">Mentors</a>
                </li>
                <li class="apply-dropdown">
                    <a href="#">Apply</a>
                    <div class="dropdown-content">
                        <a href="/CareerHub/templates/apply_as_student.html">Apply as Student</a>
                        <a href="/CareerHub/templates/apply_as_mentor.html">Apply as Mentor</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
