<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <title>TheCareerHub</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/CareerHub/templates/index.html">
               <img src="/CareerHub/static/images/logo-transparent-png.png" alt="TheCareerHub Logo">
            </a>
        </div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/CareerHub/templates/index.html">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="/CareerHub/templates/mentors.html">Mentors</a>
                </li>
                <li class="apply-dropdown">
                    <a href="#">Apply</a>
                    <div class="dropdown-content">
                        <a href="/CareerHub/templates/apply_as_student.html">Apply as Student</a>
                        <a href="/CareerHub/templates/apply_as_mentor.html">Apply as Mentor</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<header class="header">
    <div class="container">
        <img src="/CareerHub/static/images/logo-transparent-png.png" alt="CareerHub logo">
        <div class="my_button">
            <a href="/mentors" class="btn">GROW YOUR CAREER NOW<i class="fas fa-user-graduate"></i></a>
        </div>
        <div class="line">
            <p>ㅤ</p>
            <hr>
            <p>ㅤ</p>
        </div>
    </div>
</header>
<section id="about" class="about">
    <div class="container">
        <div class="aims">
            <h1>WHO ARE WE?</h1>
            <p>
                The career hub aims to empower individuals with comprehensive career guidance, mentorship opportunities, and resources, fostering a supportive community for professional development and success.
                Our website, the Career Hub, serves as a comprehensive platform for career development. We aim to empower individuals by providing expert guidance, mentorship opportunities, and diverse resources tailored to their needs. Through our platform, users can connect with experienced professionals, access valuable insights, and engage in a supportive community to enhance their skills and seize career opportunities. We strive to foster inclusivity, diversity, and continuous learning, enabling individuals to navigate their career paths with confidence and success. Our platform facilitates connections with seasoned professionals across various
                industries, providing valuable insights and networking opportunities.
            </p>
        </div>
        <div class="small_containers">
            <div class="container-sm">
                <div class="goals">
                    <h1>AIMS<i class="fas fa-bullseye"></i></h1>
                    <p>
                        The Career Hub aims to become a leading destination for career development, offering a multifaceted approach to empower individuals. Our objectives include fostering a culture of lifelong learning, promoting skill development through practical resources and workshops, and...
                    </p>
                    <div class="btnm">
                        <div class="btn">
                            <p>
                                <a href="/CareerHub/templates/more.html">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-sm">
                <div class="objectives">
                    <h1>OBJECTIVES<i class="fas fa-bullseye"></i></h1>
                    <p>
                        The objectives of the career hub website are multifaceted, aiming to create a seamless user experience with an intuitive interface, provide expert advice through mentorship programs, cultivate an interactive community for knowledge sharing and support, ensure ongoing content...
                    </p>
                    <div class="btnm">
                        <div class="btn">
                            <p>
                                <a href="/CareerHub/templates/more.html">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
