<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <title>TheCareerHub</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/CareerHub/templates/index.html">
               <img src="/CareerHub/static/images/logo-transparent-png.png" alt="TheCareerHub Logo">
            </a>
        </div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/CareerHub/templates/index.html">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="/CareerHub/templates/mentors.html">Mentors</a>
                </li>
                <li class="apply-dropdown">
                    <a href="#">Apply</a>
                    <div class="dropdown-content">
                        <a href="/CareerHub/templates/apply_as_student.html">Apply as Student</a>
                        <a href="/CareerHub/templates/apply_as_mentor.html">Apply as Mentor</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<header class="header">
    <div class="container">
        <img src="/CareerHub/static/images/logo-transparent-png.png" alt="CareerHub logo">
        <div class="my_button">
            <a href="/mentors" class="btn">GROW YOUR CAREER NOW<i class="fas fa-user-graduate"></i></a>
        </div>
        <div class="line">
            <p>ㅤ</p>
            <hr>
            <p>ㅤ</p>
        </div>
    </div>
</header>
<section id="about" class="about">
<div class="container">
        <div class="aims">
            <h1>WHO ARE WE?</h1>
            <p>
                The career hub aims to empower individuals with comprehensive career guidance, mentorship opportunities, and resources, fostering a supportive community for professional development and success.
                Our website, the Career Hub, serves as a comprehensive platform for career development. We aim to empower individuals by providing expert guidance, mentorship opportunities, and diverse resources tailored to their needs. Through our platform, users can connect with experienced professionals, access valuable insights, and engage in a supportive community to enhance their skills and seize career opportunities. We strive to foster inclusivity, diversity, and continuous learning, enabling individuals to navigate their career paths with confidence and success. Our platform facilitates connections with seasoned professionals across various
                industries, providing valuable insights and networking opportunities.
            </p>
        </div>
        <div class="small_containers">
            <div class="container-sm">
                <div class="goals">
                    <h1>AIMS<i class="fas fa-bullseye"></i></h1>
                    <p>
                        The Career Hub aims to become a leading destination for career development, offering a multifaceted approach to empower individuals. Our objectives include fostering a culture of lifelong learning, promoting skill development through practical resources and workshops, and...
                    </p>
                    <div class="btnm">
                        <div class="btn">
                            <p>
                                <a href="/CareerHub/templates/more.html">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-sm">
                <div class="objectives">
                    <h1>OBJECTIVES<i class="fas fa-bullseye"></i></h1>
                    <p>
                        The objectives of the career hub website are multifaceted, aiming to create a seamless user experience with an intuitive interface, provide expert advice through mentorship programs, cultivate an interactive community for knowledge sharing and support, ensure ongoing content...
                    </p>
                    <div class="btnm">
                        <div class="btn">
                            <p>
                                <a href="/CareerHub/templates/more.html">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<div class="about_body">
    <h1>OUR TEAM</h1>
    <div class="container">
        <div id="team1" class="team">
            <div class="first">
                <img src="/CareerHub/static/images/Presentationpic.png" alt="DavidZuokumorCareerHub">
                <p class="i">DAVID ZUOKUMOR</p>
                <p>ROLE: Team Lead, Project Coordinator & Frontend Web Developer</p>
                <p>David is a dynamic team leader and project coordinator with a vision for driving projects to success. With strong organizational skills and effective communication, David led the development effort, coordinated tasks among team members, provided the code layout and initialized the development, and ensured that our project met its objectives within the set timelines.</p>
                <p class="gg">Contact Information: </p>
                <p>Email<i class="fas fa-envelope"></i>: d.zuokumor@alustudent.com</p>
            </div>
        </div>
        <div class="team">
            <div class="las3">
                <img src="/CareerHub/static/images/Don-Emmanuel.png" alt="Gift CareerHub">
                <p class="i">GIFT DON-EMMANUEL</p>
                <p>ROLE: Frontend Developer</p>
                <p>Gift is a skilled frontend developer adept at creating responsive and dynamic web applications. With proficiency in frontend technologies such as HTML ans CSS, Gift contributed to the frontend development of our project ensuring seamless user interactions.
                <p class="gg">Contact Information: </p>
                <p>Email<i class="fas fa-envelope"></i>: g.donemmanu@alustudent.com</p>
            </div>
            <div class="las3">
                <img src="/CareerHub/static/images/Taiwo.png" alt="Taiwo CareerHub">
                <p class="i">TAIWO ADEGBOYEGA</p>
                <p>ROLE: Frontend Developer</p>
                <p> Taiwo is a dedicated frontend developer with a passion for crafting visually appealing and user-friendly web interfaces. With a keen eye for design and expertise in HTML ans CSS, Taiwo played a key role in developing the frontend components of our project, ensuring an intuitive and engaging user experience.</p>
                <p class="gg">Contact Information: </p>
                <p>Email<i class="fas fa-envelope"></i>: t.adegboyeg@alustudent.com</p>
            </div>
            <div class="las3">
                <img src="/CareerHub/static/images/Akintayo.png" alt="Akintayo CareerHub">
                <p class="i">OLUWADAMIPE AKINTAYO</p>
                <p>ROLE: Content Creator and UI engineer</p>
                <p> Oluwadamipe is a creative content creator with a talent for crafting compelling narratives and engaging content. With strong writing skills and attention to detail, Oluwadamipe played a vital role in developing the content strategy for our project, ensuring that our website effectively communicates its message to our audience using the suitable UI/UX designs.</p>
                <p class="gg">Contact Information: </p>
                <p>Email<i class="fas fa-envelope"></i>: o.akintayo@alustudent.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
