<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/more.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <title>TheCareerHub</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/CareerHub/templates/index.html">
               <img src="/CareerHub/static/images/logo-transparent-png.png" alt="TheCareerHub Logo">
            </a>
        </div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/CareerHub/templates/index.html">Home</a>
                </li>
                <li>
                    <a href="../templates/index.html#about">About</a>
                </li>
                <li>
                    <a href="/CareerHub/templates/mentors.html">Mentors</a>
                </li>
                <li class="apply-dropdown">
                    <a href="#">Apply</a>
                    <div class="dropdown-content">
                        <a href="/CareerHub/templates/apply_as_student.html">Apply as Student</a>
                        <a href="/CareerHub/templates/apply_as_mentor.html">Apply as Mentor</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<div class="container">
    <div class="small_containers">
        <div class="container-sm">
            <div class="goals">
                <h1>AIMS<i class="fas fa-bullseye"></i></h1>
                <p>
                    The Career Hub aims to become a leading destination for career development, offering a multifaceted approach to empower individuals. Our objectives include fostering a culture of lifelong learning, promoting skill development through practical resources and workshops, and facilitating access to industry-specific knowledge and insights. Additionally, we seek to create partnerships with organizations to enhance internship opportunities, job placements, and networking events. Our ultimate goal is to equip individuals with the tools and support to thrive in their chosen career paths.
                </p>
            </div>
            <div class="container-sm">
                <div class="objectives">
                    <h1>OBJECTIVES<i class="fas fa-bullseye"></i></h1>
                    <p>
                        The objectives of the career hub website are multifaceted, aiming to create a seamless user experience with an intuitive interface, provide expert advice through mentorship programs, cultivate an interactive community for knowledge sharing and support, ensure ongoing content updates to reflect evolving industry trends and user needs and promote inclusivity to accommodate individuals from diverse backgrounds. Focusing on these objectives makes the website a comprehensive resource hub for career development. It empowers users to make informed decisions, forge valuable connections, and navigate their professional journeys confidently and successfully.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
